@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Regular400.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Regular400.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Bol700.ttf");
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 6px;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Black900.ttf");
    font-weight: 900;
    font-style: normal;
}

html {
    font-family: "Lato", serif;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1020px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    color: #ffffff;
}

.logo {
    font-size: 25px;
    line-height: 6px;
    padding-left: 40px;
    padding-top: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 6px;
}

.red_text {
    color: #f06c64;
}

.header_nav {
    display: flex;
    justify-content: end;
    padding-top: 29px;
    padding-right: 25px;
    font-family: "Lato";
    font-weight: 700;
    font-size: 12px;
}

.point {
    margin-top: 20px;
    height: 3px;
    width: 3px;
    background-color: #3b4255;
}

.nav_link {
    margin: 13px;
    
    
}
.nav_hover:hover {
    color: #f06c64;
    
    
}


.slider {
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

a {
    color: white;
    text-decoration: none;
}

.content {
  
    background-color: #f2f2f2;
}

.our_services {
    margin-top: 0;
    max-width: 940px;
    height: 198px;
    margin: 0 auto;
    padding: 0 10px;
}

.our {
   margin: 0;
    
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.our_text {
    margin: 0 15px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.services_block {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    width: 320px;
    height: 123px;
    overflow: hidden;
}

.icons_position {
    margin-left: 10px;
    float: left;
}

h2 {
    margin: 0;
    margin-left: 92px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    font-size: 18px;
    color: gray;
    letter-spacing: -0.1px;
}

.block__description {
    padding-left: 92px;
    margin-top: 9px;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}

.block:hover {
    text-decoration: underline;
    color: #ea676b;
}